services:
  selfology-test:
    image: selfology-intelligent
    container_name: selfology-intelligent
    environment:
      - TELEGRAM_BOT_TOKEN=8197893707:AAEbGC7r_4GGWXvgah-q-mLw5pp7YIxhK9g
      - DB_HOST=n8n-postgres
      - DB_PORT=5432
      - DB_USER=n8n
      - DB_PASSWORD=sS67wM+1zMBRFHAW4kj9HwFl5J6+veo7Nirx0/I+oiU=
      - DB_NAME=n8n
    restart: "no"
    networks:
      - n8n-network
    volumes:
      - ./logs:/app/logs

networks:
  n8n-network:
    name: docker-compose_n8n-network
    external: true